*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============= Share CSS ============ */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    border: 2px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1{
    background-color:#30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1:hover{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}


.banner .white-btn{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.banner .white-btn:hover{
    background-color:#30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* ============= Header CSS ============ */
nav{
    max-width: 1600px;
    height: 96px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu-list{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu .menu-list a{
    font: 20px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}


/* ============= Banner CSS ============ */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 674px;
    gap: 40;
    padding: 70px 120px 134px 120px;
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner .hero-btn{
    color: #30b868;
    background-color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
}

.banner .hero-btn span{
    margin-right: 20px;
}


.banner .hero-heading{
    color: #fff;
    font-size: 78px;
    text-align: center;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.banner .hero-heading .hero-green{
    color: #30b868;
    font-size: 78px;
    font-weight: 700;

}

.banner .hero-text{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 32px;
}

.banner .button-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ============= Services CSS ============ */

.service{
    height: 582px;
    text-align: center;
    background-color: #fbfbfb;
    margin: 0 auto;
}

.service .service-info{
    width: 1360px;
    vertical-align: bottom;
    padding: 60px;
    margin: 0 auto;
}

.service .service-info .service-heading{
    color: #001931;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;

}

.service .service-info .ser-des{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.service .card-info{
    width: 1360px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
}

.service .card{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: #ffffff;
}

.service .card .card-img{
    width: 60px;
    height: 60px;
    background-color:#fa5759;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.service .card .card-img img{
    width: 32px;
    height: 32px;
}

.service .card .card-heading{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-transform: capitalize;
}

.service .card .card-des{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

/* ============= The solution section CSS ============ */

.imgWithText{

    background-color: #fff;
}

.imgWithText .The-solution{
    max-width: 1600px;
    height: 840px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    margin: 0 auto;
    padding: 120px;
}

.imgWithText .the-solution-info{
    margin-right: 150px;

}

.imgWithText .The-solution .the-solution-img{
    vertical-align: middle;
}

.imgWithText .the-solution-info .sub-heading{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.imgWithText .the-solution-info .the-solution-heading{
    font-size: 48px;
    color: #001931;
    line-height: auto;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.imgWithText .the-solution-info .the-solution-des{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.imgWithText .iconWithText{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imgWithText .iconWithText .iconText{
    display: flex;
    flex-direction: row;
    gap: 10px;
}