*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============= Share CSS ============ */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    background-color: #30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #30b868;
    border: 2px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1{
    background-color:#30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1:hover{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}


.banner .white-btn{
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.banner .white-btn:hover{
    background-color:#30b868;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* ============= Header CSS ============ */
nav{
    max-width: 1600px;
    height: 96px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu-list{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.menu .menu-list a{
    font: 20px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}


/* ============= Banner CSS ============ */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 674px;
    gap: 40;
    padding: 70px 120px 134px 120px;
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner .hero-btn{
    color: #30b868;
    background-color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
}

.banner .hero-btn span{
    margin-right: 20px;
}


.banner .hero-heading{
    color: #fff;
    font-size: 78px;
    text-align: center;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner .hero-heading .hero-green{
    color: #30b868;
    font-size: 78px;
    font-weight: 700;
}

.banner .hero-text{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-bottom: 32px;
}

.banner .button-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
